<md-content class="unselectable" style="width:100%; height:100%" layout="column">
   

    <md-toolbar style="height:100px; background-color: white" layout="row" class="md-whiteframe-4dp">
    <div style="padding-top: 30px; background-color: white" class="md-toolbar-tools">
		<img style="margin-left: 200px; margin-right: 20px" src="images/lifelink.jpg" height="75" width="85"></img>
        <h2 style="font-size:30px; font-family: 'Libre Franklin', sans-serif;"><b>LifeLink</b></h2>
    </div>
    </md-toolbar>

    <md-content layout="row">

    <md-tabs style="font-family: 'Libre Franklin', sans-serif; width: 100%" md-stretch-tabs='always' md-dynamic-height md-border-bottom>
    <md-tab  label="Chat" layout-align="center center">

    <div layout="row" layout-margin layout-align="center start">


           <div md-whiteframe="3" flex="90" layout-margin>
            <md-content>
            <md-toolbar style="border-radius:3px 3px 0 0;" class="md-accent">
            <div class="md-toolbar-tools">
                <h3>Incoming RFA's</h3>
            </div>
            </md-toolbar>

            <md-content style="min-height: 500px;">
    <section layout="row" layout-sm="column" layout-wrap>
          

        
    </section>
            </md-content>

            
           
                
            </md-content>

</div>



        </div>
      </md-tab>

      <md-tab label="Analytics">

      <div layout="row" layout-margin layout-align="center start">


           <div md-whiteframe="3" flex="90" layout-margin>
            <md-content>
            <md-toolbar style="border-radius:3px 3px 0 0;" class="md-accent">
            <div class="md-toolbar-tools">
                <h3>Community Well Being</h3>
            </div>
            </md-toolbar>

            <md-content style="min-height: 500px;">
    <section layout="row" layout-sm="column" layout-wrap>
          

        
    </section>
            </md-content>

            
           
                
            </md-content>

</div>



        </div>
        </md-tab>
        </md-tabs>


	</md-content>
</md-content>